.cadastro-login {
  width: 80%;
  padding: 15px;
}

.cadastro-login input {
  margin-bottom: 10px;
}

.background-cadastro {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  object-position: left;
}

.cadastro-login select {
  width: 100%;
  border: 0px;
  background: white;
  height: 44px;
  cursor: pointer;
  border-style: none;
  outline: 0;
}
